.navbar{
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    background: transparent;
    img{
        height: 50px;
    }
    .navbar-nav{
        margin: auto;
        margin-right: 0;
    }
}